// - - - - - -

:root {
  --black-color: #000000;
  --white-color: #FFFFFF;
  --grey-color: #868686;
  --main-color: #0000FF;
  --second-color: #FFF00F;
  --valid-color: #00FF00;
  --error-color: #FF0000;
}

// - - - - - -